@import './vendor/uikit.ruikit.scss';
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';

$theme-color: #3286ef;
$panel-bg-color: #fff;
$panel-shadow-color: rgba(0, 0, 0, .2);
$text-color: #222;
$link-color: #0076c1;

body {
  background: #fafafa;
  padding-bottom: 20px;
  line-height: 1.7;
}

input::selection,
textarea::selection {
  color: #444;
}

a, .uk-link {
  &:link, &:visited {
    color: $link-color;
    text-decoration: none;
  }

  &:hover {
    text-decoration: underline;
  }
}

a.uk-navbar-brand {
  color: #fff;
  line-height: 40px;
  font-weight: bold;
}

.uk-navbar {
  background: $theme-color;
  color: #fff;

  .uk-navbar-nav > li > a {
    background: $theme-color;

    &:hover {
      opacity: .6;
    }
  }
}

.uk-panel-box {
  background: $panel-bg-color;
  color: $text-color;
  box-shadow: 0 0 2px $panel-shadow-color;

  .uk-panel-title {
    color: $theme-color;
    font-weight: bold;

    a {
      color: $theme-color;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.uk-button-primary {
  background: #03A9F4;
}

.uk-form {
  input[type='text'],
  textarea {
    &[readonly] {
      background: #666;
    }
  }
}

.uk-nav {
  & > li {
    border-top: 1px dotted #ddd;

    &:first-child {
      border-top: 0;
    }

    a {
      padding: 5px;
    }
  }
}

.uk-nav > li > a,
.uk-subnav > li > a {
  color: $text-color;

  &:hover {
    opacity: .6;
  }
}

// ----------------------------------------------------------------------------

.summary-title {
  position: relative;
  padding-right: 150px;
}

.summary-owner {
  position: absolute;
  top: 0;
  right: 0;
  width: 150px;
  text-align: right;
  color: #999;
  font-size: 14px;

  a {
    color: #999;

    &:hover {
      color: #ccc;
    }
  }

  img {
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 100%;
    margin: 0 5px;
  }
}

.summary-description {
  line-height: 1.5;
  word-wrap: break-word;
}

.summary-list-item {
}

.summary-list-item-header {
  overflow: hidden;
}

.summary-list-item-avatar {
  float: left;
  display: block;
  width: 40px;
  height: 40px;

  img {
    display: block;
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 2px;
  }
}

.summary-list-item-title,
.summary-list-item-owner,
.summary-list-item-description {
  margin-left: 52px;
}

.summary-list-item-title {
  font-size: 20px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;

  a {
    color: $theme-color;
  }
}

.summary-list-item-owner {
  margin-top: 2px;
  font-size: 13px;
  color: #999;
  a {
    color: #999;
  }
}

.summary-list-item-description {
  margin-top: 2px;
  font-size: 13px;
  color: #999;
}

.summary-list-item-split {
  margin-top: 10px;
  margin-bottom: 10px;
  border-color: rgba(0, 0, 0, .1);
}

.slack-message {
  margin-top: 15px;
  font-size: 15px;

  &:first-child {
    margin-top: 0;
  }

  .slack-message-avatar {
    display: block;
    float: left;
    width: 36px;
    height: 36px;

    img {
      width: 36px;
      height: 36px;
      background: #fff;
      border-radius: 2px;
    }
  }

  .slack-message-header,
  .slack-message-body,
  .slack-message-reactions,
  .slack-message-attachment {
    margin-left: 46px;
  }

  .slack-message-header {
    overflow: hidden;
    display: flex;
    align-items: center;

    & > * {
      display: block;
      margin-right: .75em;
    }

    .slack-message-header-name {
      font-size: 14px;
      font-weight: bold;
      color: $text-color;
    }

    .slack-message-header-app {
      font-size: 10px;
      height: 16px;
      line-height: 16px;
      background: #eee;
      color: #999;
      padding: 0 4px;
      margin-left: -.5em;
    }

    .slack-message-header-channel,
    .slack-message-header-date {
      font-size: 12px;
      padding-top: 3px;
      color: #999;
    }
  }

  .slack-message-body {
    line-height: 1.5;
    word-wrap: break-word;

    a {
      color: $link-color;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    i {
      color: #999;
    }

    pre {
      background: #f9f9f9;

      code {
        background: transparent;
        border: 0;
        padding: 0;
        color: $text-color;
      }
    }

    code {
      background: #f9f9f9;
      border: 1px solid #eee;
      color: #ff0e58;
      padding: 4px;
      white-space: pre;
    }

    pre code {
      white-space: pre-wrap;
    }

    q, blockquote {
      font-style: normal;
    }

    blockquote {
      font-size: 100%;
    }

    img.emoji {
      width: 20px;
      height: 20px;
      overflow: hidden;
    }

    &.me {
      opacity: .7;
    }
  }

  .slack-message-reactions {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;

    &-item {
      display: flex;
      align-items: center;
      justify-content: center;
      background: #eee;
      font-size: 11px;
      height: 24px;
      line-height: 24px;
      padding: 0 10px;
      border-radius: 12px;
      margin-right: 10px;

      &-image {
        display: block;
        width: 16px;
        height: 16px;
        background: no-repeat center center / contain;
        font-size: 12px;
        line-height: 16px;
        margin-right: 5px;
      }

      &-count {
      }
    }
  }

  .slack-message-attachment {
    margin-top: 5px;
    padding: 5px 10px;
    border-left: 6px solid #ccc;
    line-height: 1.5;

    &-name {
      font-weight: bold;
    }
  }
}

.slack-message-splitter {
  position: relative;
  height: 15px;

  &.dropMessage {
    &:before {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      content: '';
      width: 100%;
      height: 100%;
      background: #9c6;
      opacity: .5;
    }
  }
}

// ----------------------------------------------------------------------------

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

.drag-message {
  position: relative;
  min-height: 48px;

  .dropMessage {
    &:before {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      content: '';
      width: 100%;
      height: 100%;
      background: #9c6;
      opacity: .5;
    }
  }

  &.undefined {
    opacity: .5;
  }
}

.editor-main-list {
  .drag-message {
    margin-top: 0;
  }
}

.global-alert {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 24px;
  line-height: 24px;
  text-align: center;
  font-size: 14px;
  background: rgba(255, 0, 0, .5);
  color: #fff;
}

.profiler-results {
  opacity: .1;
  &:hover {
    opacity: 1;
  }
}
